<?xml version="1.0" encoding="UTF-8"?>

<launch>
<!--launch robot model to iteract with-->
  <node pkg="roko_robot" type="roko_node.py" name="robot"/>
<!--launch rviz for visualization-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_software)/navigation.rviz"/>
 
<!-- launch navigation algo --> 
  <node pkg="robot_software" type="py_navigation_node.py" name="navigation_node" output="screen"/>
<!-- launch control algo -->
  <node pkg="robot_software" type="control_node" name="control_node"/>
  <!--<node pkg="robot_software" type="mat_analysis.py" name="plot"/> -->
</launch>
